{% extends 'base.html' %}
{% block content %}
    <h2 class="mb-4">Корзина</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Наименование</th>
            <th scope="col">Цена</th>
            <th scope="col">Количество</th>
            <th scope="col">Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for item in object_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ item.product.name }}</td>
                <td>{{ item.product.price }}</td>
                <td>{{ item.qty }}</td>
                <td>
                    <a href="{% url 'cart_delete' pk=item.pk %}" class="btn btn-danger btn-sm">Удалить</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tr>
            <th colspan='2'>Итого:</th>
            <th>{{ total_cost }}$</th>
        </tr>
    </table>
    {% include 'partial/../partial/add_order.html' %}
{% endblock %}
