{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Электронный магазин{% endblock %}</title>
</head>
<body>
<nav class="navbar">
    <div class="container mt-2">
        <ul>
            <li class="d-inline mr-4">
                <a href="{% url 'products_list_view' %}">Главная</a>
            </li>
            <li class="d-inline mr-4">
                <a href="{% url 'product_add_view' %}">Добавить</a>
            </li>
            <li class="d-inline mr-4">
                {% block menu %}{% endblock %}
            </li>
        </ul>
    </div>
</nav>
<div class="container row mx-5 d-flex justify-content-center">
    {% block content %}{% endblock %}
</div>
</body>
</html>